<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Digital Signature</title>
</head>
<body class="white">
    <main class="navy-font">
        <div class="">
            <h1>Digital Signature</h1>
        </div>
        <nav class="grid-container white-font">
            <div class="card navy grid-item button" onclick="location.href='/genkey'">
                <p>Generate Key</p>
            </div>
            <div class="card navy grid-item button" onclick="location.href='/sign'">
                <p>Sign</p>
            </div>
            <div class="card navy grid-item button" onclick="location.href='/verify'">
                <p>Verify</p>
            </div>
        </nav>
        <article id="sub" class="card navy white-font">
            {% block main %}
            {% endblock %}
        </article>
    </main>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/font.css') }}">
</body>
</html>