{% extends 'index.html' %}

{% block main %}

<div>
    <h2>Verify File</h2>
    <div class="navy-font">
    {% if verify %}
    <div id="result-section" class="sub-content card beige file-section" style="margin: inherit auto">
        <p>Dokumen ini terverifikasi!</p>
        <p>Sign: </p>
        <p>{{sign}}</p>
    </div>
    {% elif not_verify %}
    <div id="result-section" class="sub-content card beige file-section" style="margin: inherit auto">
        <p>Dokumen ini tidak terverifikasi!</p>
    </div>
    {% elif kosong %}
    <div id="result-section" class="sub-content card beige file-section" style="margin: inherit auto">
        <p>Dokumen ini tidak memiliki digital signature!</p>
    </div>
    {% else %}
    <form action="" method="post" enctype="multipart/form-data">
        <div id="file-section" class="sub-content card beige file-section" style="margin: inherit auto">
            <label for="input-file">Choose File</label><br>
            <input type="file" name="input-file" id="input-file">
        </div>
        <div id="key-section" class="sub-content card beige file-section">
            <label for="input-key">Choose Your Private Key</label><br>
            <input type="file" name="input-key" id="input-key">
        </div>
        <button id="real-submit" type="submit" hidden>Sign!</button>
        <div id="submit-button" class="beige sub-content button card">
            <p>Verify File!</p>
        </div>
    </form>
    {% endif %}
    </div>
</div>

<script>
    $("#sub").removeAttr("hidden");

    $("#submit-button").on('click', () => {
        $("#real-submit").click();
    })
</script>

{% endblock %}